<p id="notice"><%= notice %></p>

<h1>Cervezas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Volumen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cervezas.each do |cerveza| %>
      <tr>
        <td><%= cerveza.nombre %></td>
        <td><%= cerveza.volumen %></td>
        <td><%= link_to 'Show', cerveza %></td>
        <td><%= link_to 'Edit', edit_cerveza_path(cerveza) %></td>
        <td><%= link_to 'Destroy', cerveza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cerveza', new_cerveza_path %>
